# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project documentation files (not for repository)
Описание проектной работы.md
чек-лист.md
Шаг 1.md
Шаг 2.md
Шаг 3.md
Шаг 4.md
Шаг 5.md
